body {
    background: url(../images/national-park-background.jpg) no-repeat center / cover fixed;
    margin-bottom: 1em;
    height: 100%;
}

.text-background-grey {
    background-color: rgba(17, 17, 17, 0.644);
    border-radius: 10px;
    color: white;
}

.website-header {
    margin-top: 1%;
    color: rgba(254,194,166,255)
}

.start-button {
    margin-bottom: 1%;
    background-color: rgba(46,90,27,255)
}

.start-link {
    color: white;
    text-decoration: wavy;
}